
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style>
    </style>
</head>
<body>
    <table>
        <tr>
            <td>
                <h1>{{ header }}</h1>
                <p>
                    {{ instruction_message }}
                </p>
                <p>
                    <a href="{{ link }}"> {{ action_message }}</a>
                </p>
                <p>
                    {{ extra_info }}
                </p>
            </td>
        </tr>
    </table>
</body>
</html>
