{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="{% static 'css/bootstrap5.min.css' %}" />
  {% block title %}{% endblock %}
</head>

<body class="d-flex flex-column min-vh-100">
  {% include 'utils/main/navbar.html' %}

  <main class="flex-grow-1">
      {% block alert_message  %}
          {% if messages %}
            {% include "utils/main/_alert_messages.html" %}
          {% endif %}
      {% endblock %}

    {% block content %} {% endblock %}
  </main>

  <script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
  <script src="{% static 'js/popper5.min.js'%}"></script>
  <script src="{% static 'js/bootstrap5.bundle.min.js' %}"></script>
</body>

</html>
